<html>

<head>
    <title>이성동구</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css"/>
    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>
    <script src="https://unpkg.com/dropzone"></script>
    <script src="https://unpkg.com/cropperjs"></script>
    <link href="/static/stylesheets/layout.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://kit.fontawesome.com/43798b0c81.js" crossorigin="anonymous"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/paste.js/0.0.18/paste.min.js"#}
    {#            integrity="sha512-Rrl4RMar4C0aKtkB91vFvdkbKRJU4rbuWSxMHaQ/OUMpciWQ67EdL/jltGhhRmx7bZRKO/OhfXUgO2m5rejpxg=="#}
    {#            crossorigin="anonymous"></script>#}
    {#    <script src="https://cdn.socket.io/3.1.3/socket.io.js"></script>#}

    {% block style %}
    {% endblock %}
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <div id="navLeft">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo.png" id="navLogoImage">

                </a>
            </div>
            <div id="navRight">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">서비스 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docs/1">개념 학습</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quiz">연습 퀴즈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quiz">단어 퀴즈</a>
                    </li>
                    <li class="nav-item" id="darkModeButtonWrapper">
                        <a onclick="userTheme(true)">
                            <div class="fas fa-sun" id="darkModeIcon" aria-hidden="true"></div>
                        </a>
                    </li>

                </ul>
            </div>


        </div>
    </div>
</nav>
<body>
<script>
    function getCookie(cookieName) {
        var cookieValue = null;
        if (document.cookie) {
            var array = document.cookie.split((escape(cookieName) + '='));

            array.reverse();
            if (array.length >= 2) {
                var arraySub = array[0].split(';');
                cookieValue = unescape(arraySub[0]);
            }

        }
        return cookieValue;
    }


    function setCookie(cookie_name, value, days) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + days);
        // 설정 일수만큼 현재시간에 만료값으로 지정

        var cookie_value = escape(value) + ((days == null) ? '' : ';    expires=' + exdate.toUTCString());
        document.cookie = `${cookie_name}=${cookie_value};path=/`;
    }

    function userTheme(toggle = false) {


        let userMode = localStorage.userThemeMode || 'auto';
        userNode = getCookie("userTheme") || 'auto';

        const osMode = !!window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches ? 'dark' : 'light';
        if (toggle) {
            switch (userMode) {
                case 'auto':

                    if (osMode === "dark") {
                        userMode = "light";
                    } else {
                        userMode = "dark";
                    }

                    break;
                case 'dark':
                    userMode = 'light';
                    break;
                default:
                    userMode = 'dark';
                    break;
            }
            localStorage.userThemeMode = userMode;
            setCookie("userTheme", userMode, 1000);
        }
        console.log(`current mode : ${userMode}`);
        window.__THEME_MODE = userMode === 'auto' ? osMode : userMode;
        document.getElementsByTagName('body')[0].classList[window.__THEME_MODE === 'dark' ? 'add' : 'remove']('dark-mode');
        if (window.__THEME_MODE === 'dark') {
            $("#darkModeIcon").addClass("fa-moon");
            $("#darkModeIcon").removeClass("fa-sun");
        } else {
            $("#darkModeIcon").addClass("fa-sun");
            $("#darkModeIcon").removeClass("fa-moon");
        }


    }

    if (!!window.matchMedia) {
        ['light', 'dark'].forEach(mode => {
            window.matchMedia(`(prefers-color-scheme: ${mode})`).addListener(e => {
                if (!!e.matches) {
                    userTheme();
                }
            });
        });
    }
    userTheme();
</script>

{% block content %}
{% endblock %}

{% block script %}


{% endblock %}
</body>
</html>
